@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="tr">

@await Component.InvokeAsync("_HeadAdminLayoutComponentPartial")

<body>
    @await Component.InvokeAsync("_HeaderAdminLayoutComponentPartial")

    @await Component.InvokeAsync("_MobileMenuAdminLayoutComponentPartial")

    @await Component.InvokeAsync("_NavbarAdminLayoutComponentPartial")

    @await Component.InvokeAsync("_BreadcombAdminLayoutComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("_FooterAdminLayoutComponentPartial")
</body>
</html>
