@model List<Category>

<div class="inbox-status">
    <ul class="inbox-st-nav">
        @foreach (var item in Model)
        {
            <li><a href="#"><i class="@item.CategoryIconUrl"></i> @item.CategoryName</a></li>
        }
    </ul>
</div>