<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div class="inbox-left-sd">
        <div class="compose-ml">
            <a class="btn" href="#">Yeni Mesaj Oluştur</a>
        </div>
        <div class="inbox-status">
            <ul class="inbox-st-nav inbox-ft">
                <li><a href="#"><i class="notika-icon notika-mail"></i> Gelen Mesajlar<span class="pull-right">12</span></a></li>
                <li><a href="#"><i class="notika-icon notika-sent"></i> Giden Mesajlar</a></li>
                <li><a href="#"><i class="notika-icon notika-draft"></i> Taslaklar</a></li>
                <li><a href="#"><i class="notika-icon notika-trash"></i> Silinenler</a></li>
            </ul>
        </div>
        <hr>
        @await Component.InvokeAsync("_MessageCategoryListSidebardComponentPartial") 
        <hr>
        <div class="inbox-status">
            <ul class="inbox-st-nav inbox-nav-mg">
                <li><a href="#"><i class="notika-icon notika-success"></i> Forum</a></li>
                <li><a href="#"><i class="notika-icon notika-chat"></i> Sohbet</a></li>
                <li><a href="#"><i class="notika-icon notika-star"></i> İş Akışı</a></li>
                <li><a href="#"><i class="notika-icon notika-settings"></i> Ayarlar</a></li>
                <li><a href="#"><i class="notika-icon notika-support"></i> Destek</a></li>
            </ul>
        </div>
    </div>
</div>