<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    <li>
                        <a data-toggle="tab" href="#Home"><i class="notika-icon notika-house"></i> Ana Sayfa</a>
                    </li>
                    <li class="active">
                        <a data-toggle="tab" href="#mailbox"><i class="notika-icon notika-mail"></i> Email</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Interface"><i class="notika-icon notika-edit"></i> Profil</a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#Users"><i class="notika-icon notika-windows"></i> Kullanıcılar</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Roles"><i class="notika-icon notika-social"></i> Roller</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Settings"><i class="notika-icon notika-settings"></i> Ayarlar</a>
                    </li>
                </ul>
                <div class="tab-content custom-menu-content">
                    <div id="Home" class="tab-pane in notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="index.html">Dashboard</a>
                            </li>
                            <li>
                                <a href="index.html">İstatistikler</a>
                            </li>
                        </ul>

                    </div>
                    <div id="mailbox" class="tab-pane active notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="inbox.html">Gelen Kutusu</a>
                            </li>
                            <li>
                                <a href="inbox.html">Giden Kutusu</a>
                            </li>
                            <li>
                                <a href="inbox.html">Yeni Mesaj Oluştur</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Interface" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="animations.html">Profilim</a>
                            </li>
                            <li>
                                <a href="animations.html">Şifre Değiştir</a>
                            </li>

                        </ul>
                    </div>
                    <div id="Users" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="animations.html">Kullanıcı Listesi</a>
                            </li>
                            <li>
                                <a href="animations.html">Yeni Kullanıcı</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Roles" class="tab-pane notika-tab-menu-bg animated flipInX">
                    </div>
                    <div id="Settings" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="animations.html">Profilim</a>
                            </li>
                            <li>
                                <a href="animations.html">Sistem Ayarları</a>
                            </li>
                            <li>
                                <a href="animations.html">Çıkış Yap</a>
                            </li>
                        </ul>
                    </div>

                  
                </div>
            </div>
        </div>
    </div>
