
@{
    Layout = null;
}


<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>401 Sayfası | Notika - Email & Mesaj Uygulaması</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/notika-master/notika/green-horizotal/img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/bootstrap.min.css">
    <!-- font awesome CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/owl.carousel.css">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/owl.theme.css">
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/normalize.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- wave CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/wave/waves.min.css">
    <!-- Notika icon CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/notika-custom-icon.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/main.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="/notika-master/notika/green-horizotal/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- 404 Page area Start-->
    <div class="error-page-area">
        <div class="error-page-wrap">
            <i class="notika-icon notika-close"></i>
            <h2>Tüh! <span class="counter">401</span></h2>
            <p>Bu sayfaya erişim yetkiniz yok maalesef. Lütfen giriş yapın!</p>
            <a href="/Register/SignUp/" class="btn">Kaydol</a>
            <a href="/Login/UserLogin/" class="btn error-btn-mg">Giriş Yap</a>
        </div>
    </div>
    <!-- 404 Page area End-->
    <!-- jquery
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/counterup/jquery.counterup.min.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/counterup/waypoints.min.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/sparkline/sparkline-active.js"></script>
    <!-- flot JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/flot/jquery.flot.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/flot/jquery.flot.resize.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/flot/flot-active.js"></script>
    <!-- knob JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/knob/jquery.knob.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/knob/jquery.appear.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/knob/knob-active.js"></script>
    <!--  wave JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/wave/waves.min.js"></script>
    <script src="/notika-master/notika/green-horizotal/js/wave/wave-active.js"></script>
    <!--  Chat JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/chat/jquery.chat.js"></script>
    <!--  todo JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/todo/jquery.todo.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="/notika-master/notika/green-horizotal/js/main.js"></script>
</body>

</html>