@model ForgotPasswordViewModel
@{
    Layout = null;
}

<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

<div class="container">
    <br/>
    <br/>
    <h2>Yeni Şifre Talebi</h2>

    <form method="post">
        <label> E-posta adresinizi girin:</label>
        <input type="text" asp-for="Email" class="form-control"/>
        <br/>
        <button class="btn btn-primary">Şifre Yenileme Bağlantısını Gönder</button>
    </form>
</div>