@model ResetPasswordViewModel
@{
    Layout = null;
}


<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <h2>Şifreyi Sıfırlama</h2>

    <form method="post">
        <label> Yeni şifrenizi girin:</label>
        <input type="text" asp-for="Password" class="form-control" />
        <br />
        <label> Yeni şifrenizi tekrar girin:</label>
        <input type="text" asp-for="ConfirmPassword" class="form-control" />
        <br />
        <button class="btn btn-success">Şifreyi Güncelle</button>
    </form>
</div>